/**
 * Composition
 * ******************************
 */
.repel {
  align-items: var(--repel-vertical-alignment, center);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-m));
  justify-content: space-between;
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}

.cluster {
  align-items: var(--cluster-vertical-alignment, center);
  column-gap: var(--cluster-column-gap, var(--gutter, var(--space-s-m)));
  display: flex;
  flex-direction: var(--cluster-direction, row);
  flex-wrap: var(--cluster-wrap, wrap);
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  row-gap: var(--cluster-row-gap, var(--gutter, var(--space-s-m)));
}
