/**
 * Global CSS
 * ******************************
 */
:root {
  --color-text: hsl(0, 0%, 4%);
  --color-text-light: hsl(0, 0%, 48%);
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(0, 0%, 96%);
  --color-primary: hsl(348, 100%, 61%);
  --color-primary-bg: hsl(347, 90%, 96%);
  --color-secondary: hsl(217, 71%, 53%);
  --color-secondary-bg: hsl(219, 70%, 96%);
  --color-accent: hsl(48, 100%, 67%);

  --font-special: Georgia, 'Times New Roman', Times, serif;

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);
}

.dark {
  --color-text: hsl(0, 0%, 100%);
  --color-text-light: hsl(0, 0%, 96%);
  --color-bg: hsl(0, 0%, 4%);
  --color-bg-secondary: hsl(0, 0%, 21%);
  --color-primary: hsl(347, 77%, 79%);
  --color-primary-bg: hsl(348, 100%, 61%);
  --color-secondary: hsl(219, 70%, 96%);
  --color-secondary-bg: hsl(217, 71%, 53%);
  --color-accent: hsl(48, 100%, 67%);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-poppins);
  font-size: var(--step-0);
  font-weight: 400;
  font-optical-sizing: auto;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  font-size: var(--step-5);
}

h2 {
  font-size: var(--step-4);
}

h3 {
  font-size: var(--step-3);
}

a {
  --_color: var(--color-primary);
  --_color-bg: transparent;

  color: var(--_color, currentColor);
  background-color: var(--_color-bg, transparent);
  text-decoration: none;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

a:hover {
  text-decoration: revert;
}

:focus {
  outline: 2px solid;
}

:target {
  scroll-margin-top: 2ex;
}

[role='list'] {
  padding: 0;
}

button {
  text-align: center;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
