/**
 * Utilities
 * ******************************
 */
.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.container {
  width: calc(100% - var(--gutter) * 2);
  max-width: var(--container-max-width, 65rem);
  margin-inline: auto;
  padding-inline: var(--gutter, var(--space-m));
}

.region {
  padding-top: var(--region-space, var(--space-m-l));
  padding-bottom: var(--region-space, var(--space-m-l));
}

.text-sm {
  font-size: var(--step--1);
}

.text-light {
  color: var(--color-text-light);
}

.text-italic {
  font-style: italic;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.relative {
  position: relative;
}
